.my-nav-title {
    color: white!important;
}

.my-nav-title:hover {
    color: rgb(215, 215, 215) !important;
}

.my-nav-link {
    margin-left: 23px;
    color: rgb(128, 128, 128);
}

.my-nav-link:hover {
    text-decoration: none;
}

.my-nav-bar {
    background-image: url('../images/nav-bg.jpg');
}